<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>监控</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        body {
            font-size: 14px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>今日流量</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="130px">站点</th>
                <th>统计</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            <% for(var type in count) { %>
            <tr>
                <td><%= type %>.quanmin.tv</td>
                <td><%= count[type] %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <h1>历史流量</h1>
    <div id="main" style="width: 100%; height:300px;"></div>
    <h1>状态监控</h1>
    <% for(var key in ret) { %>
    <h2><%= key %> (<%= ret[key].count %>)</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="130px">MAC地址</th>
                <th width="320px">开始时间</th>
                <th width="70px">执行时间</th>
                <th width="70px">操作</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            <% for(var id in ret[key].items) { %>
            <tr>
                <td><%= id %></td>
                <td><%= ret[key].items[id].startAt %></td>
                <td><%= ret[key].items[id].sofar %></td>
                <td><a href="javascript:void(clean('<%= id %>'))">清除</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/echarts.simple.min.js"></script>
    <script>
        var total = <%- JSON.stringify(total) %>;
    </script>
    <script type="text/javascript">
        (function(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '流量统计图'
                },
                toolbox: {
                    // y: 'bottom',
                    feature: {
                        magicType: {
                            type: ['stack', 'tiled']
                        },
                        dataView: {}
                    }
                },
                tooltip : {
                    trigger: 'axis',
                    formatter: function(param){
                        var html = [];
                        if(!param.length) return '';
                        var name = param[0].name;
                        var date = new Date(name);
                        var day = date.getDay();
                        var week = [ '日', '一', '二', '三', '四', '五', '六', '日' ];
                        html.push(name + '，星期' + week[day]);
                        var total = 0;
                        for(var i = 0; i < param.length; i++){
                            if(param[i].seriesName == 'PC') name = '主站'; 
                            else name = '移动';
                            var value = param[i].value;
                            html.push(name + ': ' + value);
                            total += value;
                        }
                        html.push('总量: ' + total);
                        return html.join('<br/>');
                    }
                },
                legend: {
                    data:[ 'PC','移动' ]
                },
                dataZoom: [
                    {
                        show: true,
                        realtime: true,
                        start: 50,
                        end: 100
                    },
                    {
                        type: 'inside',
                        realtime: true,
                        start: 50,
                        end: 100
                    }
                ],
                grid: {
                    left: '10px',
                    right: '10px',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : total.date
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'PC',
                        type:'bar',
                        stack: 'total',
                        data: total.data.www
                    },
                    {
                        name:'移动',
                        type:'bar',
                        stack: 'total',
                        data: total.data.m
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })();
    </script>
    <script type="text/javascript">
        setTimeout(function(){
            location.reload(true);
        }, 2 * 60 * 1000);
        function clean(id){
            $.getJSON('/end?id=' + id, function(data){
                if(data && data.code == 0 && data.has){
                    location.reload(true);
                }
            });
        }
    </script>
</body>
</html>
